
#container {
  position: relative;
}

#label1 {
  position: absolute;
  left: 10px;
  top: 5px;
  padding: 0 2px;
  
  color: grey;
  background-color: white;
  pointer-events: none;
  transition: 0.2s;
}

#input1 {
  height: 2em;
  border: 1px solid grey;
  border-radius: 3px;
  outline: 0;
}

#input1:focus {
  border: 2px solid blue;
}

#input1:focus + #label1 {
  left: 10px;
  top: -.5em;
  
  font-size: 0.8em;
  color: blue;
}
