<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link rel="stylesheet" href="slider.css">
  <script src="slider.js"></script>
  <title>Document</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container">
    <div class="main">
      <img src={{mainImg}} alt="" class="img-feature">
      <div class="control prev" ng-click="prevImg()"><box-icon name='left-arrow' type='solid' ></box-icon></div>
      <div class="control next" ng-click="nextImg()"><box-icon name='right-arrow' type='solid' ></box-icon></div>
    </div>
    <div class="list-image">
      <div id="img1" ng-click="imgNo = 0; uploadImg();" ng-class="{active: imgNo == 0}"> 
        <img src={{imgList[0]}} alt="">
      </div>
      <div id="img2" ng-click="imgNo = 1; uploadImg()"ng-class="{active: imgNo == 1}">
        <img src={{imgList[1]}} alt="">
      </div>
      <div id="img3" ng-click="imgNo = 2; uploadImg()"ng-class="{active: imgNo == 2}">
        <img src={{imgList[2]}} alt="">
      </div>
      <div id="img4" ng-click="imgNo = 3; uploadImg()"ng-class="{active: imgNo == 3}">
        <img src={{imgList[3]}} alt="">
      </div>
      <div id="img5" ng-click="imgNo = 4; uploadImg()"ng-class="{active: imgNo == 4}">
        <img src={{imgList[4]}} alt="">
      </div>
      <div id="img6" ng-click="imgNo = 5; uploadImg()"ng-class="{active: imgNo == 5}">
        <img src={{imgList[5]}} alt="">
      </div>
    </div>
  </div>
</body>

</html>