<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
   crossorigin="anonymous">
   <script src="https://kit.fontawesome.com/1fb8bb996b.js" crossorigin="anonymous"></script>
   <script src="data.js"></script>
   <link rel="stylesheet" href="style.css">
  <title>Exam</title>
</head>
<body>
  
  <br/>
  <div ng-app="App" ng-controller="ContactController">
    <form action="" class="well" name="myForm">
      <div class="name">
        <label for="">Name:</label> <br>
        <input type="text" name="name" ng-model="newcontact.name" placeholder="Enter name" required/>
        <p style="color: red;" ng-show="myForm.name.$touched && myForm.name.$invalid">The name is required.</p>
      </div>
      <div class="email">
        <label for="">Email:</label> <br>
        <input type="text" name="email" ng-model="newcontact.email" placeholder="Enter email" required/>
        <p style="color: red;" ng-show="myForm.email.$touched && myForm.email.$invalid">The email is required.</p>
      </div>

      <div class="password">
        <label for="">Password:</label> <br>
        <input type="text" name="password" ng-model="newcontact.password" placeholder="Enter password" required/>
        <p style="color: red;" ng-show="myForm.password.$touched && myForm.password.$invalid">The password is required.</p>
      </div>  

      <div class="phone">
        <label for="">Phone:</label><br>
        <input type="text" name="phone" ng-model="newcontact.phone" placeholder="Enter phone" required/>
        <p style="color: red;" ng-show="myForm.phone.$touched && myForm.phone.$invalid">The phone is required.</p>
      </div>

      <input type="hidden" ng-model="newcontact.id"/>
      <br/>
      <input id="submitBtn" type="button" value="Submit" ng-click="saveContact()" class="btn btn-primary"/>
    </form>
    <br/>

    <div style="align-items: center;">
      <i style="position: relative; left: 198px; cursor: pointer" class="fa-solid fa-xmark" ng-click="clearSearch()"></i>
      <input style="width: 200px;" type="text" ng-model="searchInput" placeholder="search">
    </div>
    <br/>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name
            <i ng-click="sortThis('name')" style="float: right; cursor: pointer;" class="fa-solid fa-sort"></i>
          </th>
          <th>Email
            <i ng-click="sortThis('email')" style="float: right; cursor: pointer" class="fa-solid fa-sort"></i>
          </th>
          <th>Password
            <i ng-click="sortThis('password')" style="float: right; cursor: pointer" class="fa-solid fa-sort"></i>
          </th>
          <th>Phone
            <i ng-click="sortThis('phone')" style="float: right; cursor: pointer" class="fa-solid fa-sort"></i>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts|filter:searchInput | orderBy:sortValue:reverse">
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.password}}</td>
          <td>{{contact.phone}}</td>

          <td>
            <a href="#" ng-click="edit(contact.id)">edit</a>
            <a href="#" ng-click="delete(contact.id)">delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>