* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  width: 600px;
}

.form {
  margin: 15px auto;
  padding: 15px;
  width: 600px;
  background-color: rgb(222, 222, 222);
  border: 1px solid grey;
  border-radius: 5px;
}

#searchContainer .col {
  float: right;
  display: flex;
  width: 200px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 3px;
  align-items: center;
}

#searchContainer .col i{
  position: relative;
}

#searchContainer input {
  width: 180px;
  padding: 5px;
  border: none;
  outline: none;
}
