*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #202124;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
}

.section {
  display: flex;
  width: 750px;
  max-width: 750px;
  border: 1px solid rgb(218,220,224);
  border-radius: 8px;
  margin-top: 15vh;
  padding: 48px 40px 36px;
}

.core {
  display: flex;
}
.main {
  width: 400px;
  text-align: left;
}

.logo {
  height: 24px;
  overflow: hidden;
}

.logo img {
  height: 100%;
}
.title  {
  padding-top: 16px;
  font-size: 24px;
  font-family: sans-serif;
}
.sub-title {
  padding-top: 8px;
  font-size: 16px;
}

.big-container {
  position: relative;
  padding-top: 24px;
}

#lnameContainer {
  position: absolute;
  right: 0px;
}

#confirmPasswordContainer{
  position: absolute;
  right: 0px;
}
/*.space {
  width: 5px;
}*/

.input-container {
  position: relative;
}

.input-container input {
  height: 32px;
  width: 100%;
  border: 1px solid rgb(218,220,224);
  border-radius: 5px;
  outline: none;
  padding: 6px 8px;
  transition: 0.1s;
}

.input-container label {
  display: flex;
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  align-items: center;
  color: #2E2124;
  font-size: 14px;
  pointer-events: none;
  padding: 0;
  transition: 0.2s;
}

.input-container input:focus + label, .input-container input:valid + label {
  top: -0.4rem;
  font-size: 0.7rem;
  z-index: 2;
  height: 0.9rem;
  padding: 0 4px;
  background-color: white;
  /* color: #2B7CE7; */
}

[data-value="1"] input:focus + label{
  color: #2B7CE7;
}

[data-value="0"] input:focus + label, [data-value="0"] input:valid + label {
  color: #D93025;
}

[data-value="1"] input:focus{
  border: 2px solid #2B7CE7;
}

[data-value="0"] input:valid {
  border: 1px solid #D93025
}

[data-value="0"] input:focus{
  border: 2px solid #D93025;
}

[data-value="0"] input{
  border: 1px solid #D93025;
}

.msg[data-value="0"]  {
  color: #D93025 !important;
}

#name, #passwordContainer {
  display: flex;
}
.small-container {
  /* width: calc((100%-px)/2); */
  padding: 0 auto;
  width: 49%;
}

.msg {
  margin-top: 4px;
  padding: 0 5px 0 10px;
  font-size: 12px; 
}
#usernameContainer {
  display: flex;
  align-items: center;
}

#usernameContainer p {
  z-index: 2;
  position: absolute;
  padding-left: 12px;
  font-size: 14px;
  right: 7px; 
  background-color: white;
}

#showPassword {
  display: flex;
  position: relative;
  left: -8px;
  vertical-align: middle;
}

#checkBoxContainer {
  text-align: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


#checkBoxContainer input {
  position: relative;
  z-index: 1;
  transform: scale(1.4);
  top: 11px;
  left: 1px;
}

#checkBoxContainer:hover #checkboxBG {
  background-color: rgba(0, 0, 0, 0.1);
}

#checkboxBG:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#checkBoxContainer input:checked + #checkboxBG {
  background-color: #1a73e81b;
  height: 40px;
}

#checkboxBG {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  pointer-events: none;
  background-color: none;
}

#showPassword p {
  font-size: 14px;
  display: flex;
  align-items: center;
}

#nextContainer {
  display: flex;
  position: relative;
  margin: 26px auto auto -5px;
  padding-bottom: 20px;
  align-items: center;
}

#signIn {
  float: left;
}
#signIn button {
  height: 30px;
  padding: 0 7px;
  border: none;
  border-radius: 4px;
  background-color: #1a73e800;
  color: #1A73E8;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 550;
  line-height: 20px;
  letter-spacing: 0.15px;
  cursor: pointer;
}

#signIn button a {
  color: #1A73E8;
}

#signIn button:hover {
  background-color: #1a73e80e;
}

#signIn button:hover a{
  color: #1861c1;
}

.confirm {
  position: absolute;
  right: 0;
}
.confirm button {
  background-color: #1A73E8;
  border: none;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}

.confirm button:hover {
  background-color: #1861c1;
}


.image {

  margin-left: 40px;
  width: 40%;
  padding-top: 10%;
}

.image img {
  height: 200px;
}

.image p {
  font-size: 16px;
  font-family: 'Roboto';
  padding: 2px;
  color: #2E2124;
}

#panel {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  height: 35px;
  font-size: 12px;
}
#language {
  position: absolute;
  left: 0;
  height: 100%;
  border: none;
}

#rightPanel {
  height: 100%;
}

#language {
  background-color: transparent;
}

#rightPanel button {
  float: right;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-left: 30px;
}

