*[lang^="en"] {
    color: green;
}
*.warning {
    color: red;
}
*#maincontent{
    border: 1px solid blue;
}
.floating{
    float: left;
}
.floating + * {
    clear: left;
}
@namespace demo url(http://www.myweb.com);
demo|p{
    color: tomato;
}
@namespace example url(http://www.myshop.com);
example|p {
    color: cyan;
}
[data-type="primary"] {
    color: tan;
}