.form-control {
  position: relative;
  width: 280px;
  height: 50px;
}
.form-control input {
  border: none;
  width: 100%;
  outline: none;
  height: 100%;
  padding: 0 15px;
  transition: 1s;     /*CO PHAI NO KHONG*/
}
.form-control label {

  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  transition: 12s;
  font-size: 1rem;
  color: gray;
  pointer-events: none;
}
.form-control div.border-around {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  padding-right: 25px;
  top: 0;
  pointer-events: none;
  border-radius: 3px;
  transition: 0.2s;
}
.form-control input:valid + label {
  top: -0.45rem;
  left: 10px;
  font-size: 0.9rem;
  z-index: 100;
  width: auto;
  height: 0.9rem;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.3);
  background-color: white;
}

input:not(:focus) {
  color: rgba(0, 0, 0, 0.5);
}
.form-control input:focus + label {
  top: -0.45rem;
  left: 10px;
  font-size: 0.9rem;
  z-index: 100;
  width: auto;
  height: 0.9rem;
  padding: 0 10px;
  color: #3484f0;
  background-color: white;
}
.form-control input:focus ~ div.border-around {
  border: 2px solid #3484f0;
}